body {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5C5C5C;
}

.navbar {
	margin-bottom: 20px;
	border: none;
	background-color: inherit;
}

.navbar li{
	color: #696969;
	font-weight: bold;
	font-size: smaller;
}

.red-nav{
	margin-left: 3em;
}

.red-nav li a{
	color: white;
}

.btn{
	border-radius: 0;
}

.btn-red, .btn-red-intext{
	color: white;
	font-weight: bold;
	font-size: smaller;
	background-color: #EC3713;
}

.footcontainer h2{
	font-size: 1.2em;
	font-weight: bold;
}

.list-footer-black a{
	color: #333;
}

.follow-us a{
	color: #333;
	font-size: 50px;
	margin-right: 10px;
}

.list-footer-black li{
	margin: 1em 0;
}

.header-logo{
	height: 50px;
}

.footer-logo{
	height: 50px;
}

.bottom-grey-border{
	border-bottom: 10px solid #9B9B9B;
}

.grey-bg{
	background-color: #E4E4E4;
}

.btn-mr{
	display: inline-block;
	margin-right: 1em;
}

/* collaps menu action */
@media (min-width: 768px){

	.navbar li.ml-bigger {
		margin-left : 3em;
	}

	.btn-red{
		color: #fff;
		background-color: #EC3713;
		border-color: #EC3713;
		font-size: inherit;
		padding-left: 3em;
		padding-right: 3em;
	}

}
