.quiz{
	width: 100%;
}

.quiz-margin{
	margin: 2em 0;
}

.quiz-header{
	font-weight: bold;
}

.col-md-8{
	margin-right: 0;
}

.quiz-container{
	padding: 20px 0;
}

.quiz-qrow1{
	margin-bottom: 2em;
}

.quiz-qrow2{
	margin-bottom: 4em;
}

.quiz-qnum{
	padding: .5em;
	margin: .25em;
	width: 2.5em;
	background-color: #EC3713;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 5px;
	display: inline-block;
	float:left;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

.quiz-res-header{
	margin-left: 1em;
}

.quiz-qanswer{
	text-align: left;
	max-width: 70%;
	padding: .5em;
	margin-left: 5px;
	display: inline-block;
	float:left;
}

.quiz-question-animation, .quiz-question{
	z-index: 1;
	margin: 0 2em;
	cursor: pointer;
	border-radius: 5px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.quiz-question-animation:hover{
	z-index: 2;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);

	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
}

/* touchscreen */
@media (hover:on-demand) {
	.quiz-question-animation:active{
		z-index: 2;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.4);

		transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
	}
}

.quiz-question{
	cursor:default;
}

.quiz-ans-selected{
	border: 1px solid red;
	box-shadow: 0px 0px 8px rgba(203, 0, 0, 0.6);
}

.quiz-ans-correct{
	border: 1px solid  green;
	box-shadow: 0px 0px 8px rgba(13, 171, 0, 0.8);
}

@media (max-width: 992px) {

	body{
		overflow-x: hidden;
	}

	.quiz-question{
		margin-bottom: 10px;
	}

	.quiz-qrow1{
		margin-bottom: 0;
	}

	.quiz-question-animation{
		margin-bottom: 10px;
	}

}
